
<div class=" row shopping-cart" style="margin-top:100px">
    <ol class="ui-list shopping-cart--list col-sm-9" id="shopping-cart--list">

        <div id="shopping-cart--list-item-template" type="text/template" *ngFor="let item of items">
            <li class="_grid shopping-cart--list-item">
                <div class="_column product-image">
                    <img class="product-image--img img-fluid" [src]="item.image" width="100px" alt="Item image" />
                </div>
                <div class="_column product-info">
                    <h4 class="product-name">{{item.name}}</h4>
                    
                    <div class="price product-single-price">{{item.price|currency:'EGP'}}</div>
                </div>
                <div class="_column product-modifiers" data-product-price="L.E100">
                    <div class="_grid">
                        <button class=" btn  _btn column product-subtract">-</button>
                        <div class="_column product-qty">0</div>
                        <button class=" btn _btn column product-plus">+</button>
                    </div> 
                    <button class=" btn _btn entypo-trash product-remove">Remove</button>
                    
                    <div class="price product-total-price">L.E0.00</div>
                </div>
                
            </li>
        </div>
    </ol>
    <div class="_grid cart-totals col-sm-3 card">
        <div class="_column subtotal" id="subtotalCtr">
            <div class="cart-totals-key">Subtotal</div>
            <div class="cart-totals-value">L.E0.00</div><br>
        </div>
        <div class="_column shipping" id="shippingCtr">
            <div class="cart-totals-key">Shipping</div>
            <div class="cart-totals-value">L.E0.00</div>
        </div>
        <div class="_column taxes" id="taxesCtr">
            <div class="cart-totals-key">Taxes (14%)</div>
            <div class="cart-totals-value">L.E0.00</div>
        </div>
        <div class="_column total" id="totalCtr">
            <div class="cart-totals-key">Total</div>
            <div class="cart-totals-value">L.E0.00</div>
        </div>
        <div class="_column checkout">
            <button class=" btn _btn checkout-btn entypo-forward" routerLink="/Checkout">Checkout</button>
        </div>
    </div>
    
</div>
