.shopping-cart {
    background-color: #ffffff;
    font-family: 'Quicksand', sans-serif;
    color: #ffaf42;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 300;
}

h1,
.sub-heading {
    text-align: center;
    margin: .5rem 0 1rem;
}

.sub-heading {
    font-size: .75em;
    font-weight: 300;
}

._grid {
    /* margin-left: 0; */
    text-align: justify !important;
    text-justify: distribute-all-lines;
    font-size: 0 !important;
    text-rendering: optimizespeed;
}

._grid:after {
    content: "";
    display: inline-block;
    width: 100%;
}

._column {
    display: inline-block;
    vertical-align: top;
    font-size: medium;
    text-align: left;
    text-rendering: optimizeLegibility;
}

.shopping-cart {
    width: 80%;
    max-width: 60rem;
    margin: 0 auto;
}

.shopping-cart--list-item {
    border: 1px solid #bdc3c7;
    margin-bottom: 2rem;
    height: 10rem;
    overflow: hidden;
}

.shopping-cart--list-item:hover,
.shopping-cart--list-item:hover * {
    border-color: #fd5602;
}

.shopping-cart--list-item>._column {
    height: 100%;
    /* make vertical lines match */
}

.product-image {
    padding: 1%;
    width: 30%;
    // background: no-repeat center / cover transparent;
}

.product-info {
    width: 50%;
    padding: .5rem;
}

.product-name {
    font: 300 2em/1 "Quicksand", sans-serif;
    letter-spacing: -.025em;
    margin: 0 0 .5em;
}

.price {
    line-height: 1;
    text-align: right;
}

.product-single-price {
    margin-top: -1rem;
    font-size: 2em;
    text-align: start;
}

.product-qty {
    width: 100%;
    text-align: center;
    // padding: .35em .75em;
}

.product-total-price {
    border-top: 1px solid #bdc3c7;
    color: #95a5a6;
    font-size: 1.25em;
    padding: .5rem;
}

.shopping-cart--list-item:hover .product-total-price {
    background-color: #3ad635da;
    color: #ecf0f1;
}

.close {
    margin-left: 0;
    width: 40px;
    height: 40px;
}

.close:hover {
    background-color: #c0392b;
}

.cart-totals {
    margin-bottom: 3rem;
}

.cart-totals ._column:not(:last-of-type) {
    border-bottom: 1px solid #bdc3c7;
}

.cart-totals ._column:first-of-type {
    padding-left: 0;
}

.cart-totals-key {
    font-size: 1.125em;
    color: #bdc3c7;
}

.cart-totals ._column:hover .cart-totals-value,
.cart-totals ._column:hover .cart-totals-key {
    color: #333;
}

.cart-totals-value {
    font-size: 2em;
}

._column.checkout {
    text-align: center;
    padding: 0;
    margin-top: 1.5em;
    vertical-align: middle;
}

._btn.checkout-btn {
    // margin-right: .5em;
    margin: .2em;
    width: 100%;
    background-color: #bdc3c7;
}

._btn.checkout-btn:hover {
    background-color: #fd5602;
    color: white;
}
