<style>
    .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    @media (min-width: 768px) {
        .bd-placeholder-img-lg {
            font-size: 3.5rem;
        }
    }

    .container {
        background-color: white;
        font-family: 'Quicksand', sans-serif;
        color: #ff8303;
        justify-content: center;
    }
</style>
<div class="container">
    <div class="py-5 text-center">
        <img class="d-block mx-auto mb-4" src="logoBlack.png" alt="" width="100px">
        <h2>Checkout form</h2>
        <div *ngFor="let item of purchasedMeals" class="d-flex flex-column justify-content-start">
            <div class="d-flex flex-row justify-content-center">
                <p>{{item?.mealName}} x </p>
                <p> {{item?.mealCount}}</p>
            </div>
        </div>
        <p>Total Price: {{totalPrice}}</p>
    </div>

    <div class="container row">




        <div class="col-md-8 order-md-1 ">

            <form class="needs-validation " novalidate>







                <hr class="mb-4 ">

                <h4 class="mb-3 ">Payment Method</h4>

                <div class="d-block my-3 ">
                    <div class="custom-control custom-radio ">
                        <input id="credit " name="paymentMethod " type="radio " class="custom-control-input " checked required>
                        <label class="custom-control-label " for="credit ">Credit card</label>
                    </div>
                    <div class="custom-control custom-radio ">
                        <input id="debit " name="paymentMethod " type="radio " class="custom-control-input " required>
                        <label class="custom-control-label " for="debit ">Debit card</label>
                    </div>
                    <div class="custom-control custom-radio ">
                        <input id="paypal " name="paymentMethod " type="radio " class="custom-control-input " required>
                        <label class="custom-control-label " for="paypal ">Cash on Delivery (COD)</label>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-md-6 mb-3 ">
                        <label for="cc-name ">Name on card</label>
                        <input type="text " class="form-control " id="cc-name " placeholder=" " required>
                        <small class="text-muted ">Full name as displayed on card</small>
                        <div class="invalid-feedback ">
                            Name on card is required
                        </div>
                    </div>
                    <div class="col-md-6 mb-3 ">
                        <label for="cc-number ">Credit card number</label>
                        <input type="text " class="form-control " id="cc-number " placeholder=" " required>
                        <div class="invalid-feedback ">
                            Credit card number is required
                        </div>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-md-3 mb-3 ">
                        <label for="cc-expiration ">Expiration</label>
                        <input type="text " class="form-control " id="cc-expiration " placeholder=" " required>
                        <div class="invalid-feedback ">
                            Expiration date required
                        </div>
                    </div>
                    <div class="col-md-3 mb-3 ">
                        <label for="cc-cvv ">CVV</label>
                        <input type="text " class="form-control " id="cc-cvv " placeholder=" " required>
                        <div class="invalid-feedback ">
                            Security code required
                        </div>
                    </div>
                </div>
                <hr class="mb-4 ">
                <button class="btn  btn-lg btn-block " type="submit " style="background-color: #fd5602;">Submit order</button>
            </form>
        </div>
    </div>
