<div style="display:flex ; flex-direction:column; align-items:center">
    <nav class="navbar navbar-expand-md navbar-light  col-12">
        <a class="navbar-brand col-2" href="#">FoodCourt</a>
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse col-10" id="collapsibleNavId">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0 text-center">
                <li class="nav-item col-2" routerLinkActive="active">
                    <a class="nav-link" routerLink="/Home">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item col-2" routerLinkActive="active">
                    <a class="nav-link" routerLink="/Menu">Menu</a>
                </li>
               
                <li class="nav-item col-2" routerLinkActive="active">
                    <a class="nav-link" routerLink="/Chefs">Chefs</a>
                </li>
                <li class="nav-item col-2" routerLinkActive="active">
                    <a class="nav-link" routerLink="/Offers">Offers</a>
                </li>
                <li class="nav-item col-2" routerLinkActive="active">
                    <a class="nav-link " routerLink="/Cart"><i class="fas fa-shopping-cart"></i></a>
                </li>
                <li class="nav-item col-2" routerLinkActive="active">
                    <a class="nav-link " routerLink="/LogIn"><i class="fas fa-user-alt"></i></a>
                </li>
            </ul>
            
        </div>
       
    </nav>
    
    </div>