<!-- 
<div style="display:flex ; flex-direction:column; align-items:center">
    <nav class="navbar navbar-expand-md bg-light col-12">
        <a class="navbar-brand col-2" href="#"><img src="assets/3.png" width="50px"></a>
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" 
        aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation" style="color:#FFAF42">
            <span class="navbar-toggler-icon"><i class="fas fa-bars"></i></span>
        </button>
        <div class="collapse navbar-collapse col-8" id="collapsibleNavId">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0 text-center">
                <li class="nav-item col-3" routerLinkActive="active">
                    <a class="nav-link" routerLink="/Home">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item col-3" routerLinkActive="active">
                    <a class="nav-link" routerLink="/MenuParent">Menu</a>
                </li>
               
                <li class="nav-item col-3" routerLinkActive="active">
                    <a class="nav-link" routerLink="/Chefs">Chefs</a>
                </li>
                <li class="nav-item col-3" routerLinkActive="active">
                    <a class="nav-link" routerLink="/Offers">Offers</a>
                </li>
                <li class="nav-item col-3" routerLinkActive="active">
                    <a class="nav-link" routerLink="/Blog">Blog</a>
                </li>
                
            </ul>
                <a class="nav-link " routerLink="/Cart"><i class="fas fa-shopping-cart"></i></a>
                <a class="nav-link " routerLink="/LogIn"><i class="fas fa-user-alt"></i></a> 
            
        </div>
       
    </nav>
    
    </div> -->

<header>
  <nav class="navbar navbar-expand-md bg-light fixed-top">
    <div class="container-fluid d-flex">
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#collapsibleNavbar"
        style="color: #ffaf42"
      >
        <span class="navbar-toggler-icon"><i class="fa fa-bars"></i></span>
      </button>
      <a class="navbar-brand mr-auto pl-3" routerLink="/Home"
        ><img src="assets/3.png" style="height: 40px; width: 70px"
      /></a>

      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav nav-pills nav-fill d-flex col-lg-12">
          <li class="nav-item col-lg-3">
            <a class="nav-link" aria-current="page" routerLink="/Home">
              {{ HeaderItems.home }}
            </a>
          </li>
          <li class="nav-item col-lg-3">
            <a class="nav-link" routerLink="/MenuParent">{{
              HeaderItems.menu
            }}</a>
          </li>
          <li class="nav-item col-lg-3">
            <a class="nav-link" routerLink="/Chefs">{{ HeaderItems.chefs }}</a>
          </li>
          <li class="nav-item col-lg-3">
            <a class="nav-link" routerLink="/Offers">{{
              HeaderItems.offers
            }}</a>
          </li>
          <li class="nav-item col-lg-3">
            <a class="nav-link" routerLink="/Blog">{{ HeaderItems.blog }}</a>
          </li>
          <!-- <li class="nav-item  col-lg-3 ">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                Categories
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="Oriental-menu.html">Oriental Cuisine</a>
              <a class="dropdown-item" href="American-menu.html">American Cuisine</a>
              <a class="dropdown-item" href="others-menu.html">Other Cuisines</a>
            </div>
              </li> -->
          <li class="nav-item col-lg-3">
            <a class="nav-link" routerLink="/Cart"
              ><i class="fa fa-cart-plus" style="font-size: 25px"></i
            ></a>
          </li>
          <li class="nav-item col-lg-3">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdownMenuLink"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <i class="fa fa-user" style="font-size: x-large"></i>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" routerLink="/LogIn">{{
                HeaderItems.login
              }}</a>
              <a class="dropdown-item" routerLink="/Signup">{{
                HeaderItems.register
              }}</a>
              <!-- <a class="dropdown-item" routerLink="/Admin">Admin</a> -->
              <a class="dropdown-item" (click)="logout()">{{
                HeaderItems.logout
              }}</a>
            </div>
          </li>
          <!-- <li class="nav-item col-lg-2">
                <form class="form-inline">
                    <input class="form-control mr-sm-2 col-lg-11" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn my-2 my-sm-0" type="submit" style="color:white; background-color: #FFAF42;"><i class="fas fa-search"></i></button>
                  </form>
              </li> -->
        </ul>
      </div>
    </div>
  </nav>
</header>
