body{
    font-family: 'Quicksand', sans-serif;
}

h1{
    color: #fd5602;
    font-weight:bold;
}

h5{
    color:#000000;
}


.btn{
    background-color:#FFAF42; 
    color:white; 
    height:60px; 
    width: 100px;
    font-size: x-large;
}
ngb-rating{
    color:#FFAF42;
    font-size: larger;
    
}
