h1{
    color: #fd5602;
    font-family: 'Quicksand', sans-serif;
}
h4{
    color:#FFAF42
}
h5{
    color:#3a3d3b;
    font-family: 'Quicksand', sans-serif;
}
.btn{
    background-color:#FFAF42; color:white; height:30px; width:60px;
}
ngb-rating{
    color:#FFAF42;
    
}
