<body>

    <!-- carousel for the slider images  -->
    <div id="myCarousel" class="carousel slide mx-auto" style="width: 90%;" data-ride="carousel">

        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src={{HomeList[1].image}} class="img-fluid " alt="">
            </div>
            <div class="carousel-item" *ngFor="let item of HomeList">
                <img [src]="item?.image" class="img-fluid " alt="">
            </div>
        </div>
        
        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <!-- Marketing messaging and featurettes
  ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container-fluid mx-auto" style="width: 80%;">

        <!-- Offers Section -->
        <div class="container-fluid d-inline-flex">
            <h1 class="display-3">Offers</h1>
            <div class="container text-right mt-5">
                <p><a class="btn btn-sm buttonColor" routerLink="/Offers" role="button">Discover More</a></p>
            </div>
        </div>

        <div class="row d-flex col-lg-12 mx-auto">

            <div class="col-lg-4" *ngFor="let offer of ListOffers">
                <div class="card shadow card-light m-2" >
                    <p class="ribbon"> Discount: {{offer?.discount}}</p>
                    <img class="card-img-top" [src]="offer?.image">

                    <div class="card-body">
                        <h2>{{offer?.name}}</h2>
                        <h5>{{offer?.price}} L.E.</h5>
                        <!-- <p>{{offer?.description}}</p> -->
                        <!-- <p><a class="btn buttonColor" href="./Menu-main.html" role="button">View details &raquo;</a></p> -->
                    </div>

                </div>
            </div>
        </div>
    </div>

    <hr class="featurette-divider">
    <!-- Recommended Section -->
    <div class="container-fluid mx-auto" style="width: 80%;">
        <div class="container-fluid d-inline-flex">
            <h1 class="display-3">Recommended</h1>
            <div class="container text-right mt-5">
                <p><a class="btn btn-sm buttonColor" routerLink="/MenuParent" role="button">Discover More</a></p>
            </div>
        </div>

        <div class="row d-flex col-lg-12 mx-auto">
            <!-- <div class="col-lg-4" *ngFor="let recommended of Home[2].recommended">
                <div class="card shadow card-light m-2">

                    <img class="card-img-top" [src]="recommended?.image">

                    <div class="card-body">
                        <h2>{{recommended?.name}}</h2>
                        <h5>{{recommended?.price}} L.E.</h5>
                        <p><a class="btn buttonColor" href="./Menu-main.html" role="button">View details &raquo;</a></p>
                    </div>

                </div>
            </div> -->
        </div>
    </div>

    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <!-- general view of a product -->
    <div class="row featurette">
        <div class="col-md-12 d-flex mx-auto">
            <div class="col-md-1"></div>
            <div class="col-md-4">
                <h2 class="featurette-heading">Food Made With Love.<span class="text-muted">It’ll blow your
                        mind.</span>
                </h2>
                <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis
                    euismod
                    semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus
                    ac cursus
                    commodo.</p>
            </div>
            <div class="col-md-6">
                <!-- <img src={{Home[3].general[0].image}} class="img-fluid " alt=""> -->
            </div>
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-11 d-flex mx-auto">
            <div class="col-md-1"></div>
            <div class="col-md-4 order-md-2">
                <h2 class="featurette-heading">Oh yeah, it’s that good. <span class="text-muted">See for
                        yourself.</span></h2>
                <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis
                    euismod
                    semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus
                    ac cursus
                    commodo.</p>
            </div>
            <div class="col-md-6">
                <!-- <img src={{Home[3].general[1].image}} class="img-fluid" alt=""> -->
            </div>
        </div>
    </div>


</body>

