img{
    width: 100%;
}
#ourChefs {
    font-size: 50px;
    font-weight: 600;
    color: #fd5602;
    font-family:'Quicksand', sans-serif;

}
.chefN {
    color: #FE6E00;
}
.btn-link{
    color: #FF8303;
    
}