<div class="container-fluid">
  <div class="row d-flex justify-content-center">
    <div id="ourChefs" class="text-center col-12">Our Chefs</div>
    <br /><br />

    <div
      class="shadow rounded card text-left col-sm-10 col-xs-12 col-xl-3 col-lg-4 col-md-4 card-light p-0"
      style="margin-right: 20px; margin-bottom: 20px"
      *ngFor="let chef of ChefList"
    >
      <div class="img__wrap">
        <img [src]="chef?.image" />
        <button
          type="button"
          class="btn btn-link img__description"
          (click)="viewChef(chef.id)"
        >
          Know them better
        </button>
      </div>

      <div class="card-body text-center">
        <h3 class="chefN">{{ chef?.name }}</h3>
        <p>{{ chef?.description }}</p>
      </div>
    </div>
  </div>
  <div class="d-flex flex-column mx-auto align-items-center">
    <a class="btn btn-link seemore" (click)="nextIndex()" role="button"
      >See More</a>
    <i class="fas fa-chevron-down seemore" (click)="nextIndex()"></i>
  </div>
</div>
