body{
    font-family: 'Quicksand', sans-serif;
}

h1{
    font-weight:bold;
    color:#FD5602;
}
h2 {
    color: #FE6E00;  
    
}
.nav-link{
    color: #FE6E00;
}
ngb-rating{
    color:#FFAF42;
    font-size: 40px;
}
