<body class="mx-auto" style="margin-top: 35px">
  <!-- <a
    class="nav-link dropdown-toggle mt-5"
    href="#"
    id="navbarDropdownMenuLink"
    role="button"
    data-toggle="dropdown"
    aria-haspopup="true"
    aria-expanded="false"
  >
    Filter By:
  </a> -->
  <div class="d-flex flex-row justify-content-center ml-4 mb-4 flex-wrap">
    <h3>{{ OfferItems.filterBy }}</h3>
    <div class="d-flex flex-row flex-wrap">
      <button
        class="btn btn-link mr-2 ml-2 filter"
        (click)="getOffersOrderByName()"
      >
        {{ OfferItems.filter1 }}
      </button>
      <button class="btn btn-link filter" (click)="getOffersOrderByPrice()">
        {{ OfferItems.filter2 }}
      </button>
      <button class="btn btn-link filter" (click)="getOffersOrderByPriceDesc()">
        {{ OfferItems.filter3 }}
      </button>
      <button class="btn btn-link filter" (click)="getOffersOrderByDiscount()">
        {{ OfferItems.filter4 }}
      </button>
      <button
        class="btn btn-link filter"
        (click)="getOffersOrderByDiscountDesc()"
      >
        {{ OfferItems.filter5 }}
      </button>
    </div>
  </div>

  <!-- <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
    <a class="dropdown-item" (click)="getOffersOrderByName()">Name</a>
    <a class="dropdown-item" (click)="getOffersOrderByPrice()">Price</a>
  </div> -->

  <div class="row d-flex col-lg-12 mx-auto">
    <div
      class="col-lg-4 col-md-6 col-sm-6 col-xs-12"
      *ngFor="let offer of ListOffers"
    >
      <div class="card shadow card-light m-2">
        <p class="ribbon">{{ OfferItems.discount }} {{ offer?.discount }}</p>
        <a href="#"><img class="card-img-top" [src]="offer?.image" /></a>

        <div class="card-body text-center">
          <h2>{{ offer?.name }}</h2>
          <h5>{{ offer?.price }} L.E.</h5>

          <p>
            <a
              style="color: #ff8303"
              type="button"
              class="btn btn-link"
              (click)="viewDetails(offer.id)"
            >
              {{ OfferItems.moreDetails }} &raquo;</a
            >
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex flex-column mx-auto align-items-center">
    <a class="btn btn-link seemore" (click)="nextIndex()" role="button">{{
      OfferItems.button
    }}</a>
    <i class="fas fa-chevron-down seemore" (click)="nextIndex()"></i>
  </div>
</body>
