<div class="container row ">

    <hr class="mb-4">
    <div class="contanier-fluid justify-content-center text-center">
        <h3 style="margin-top:100px">Thank you for ordering!<br>Our chefs are preparing your order now happily :)</h3>
        <img src="/assets/giphy.gif" class="img-fluid" style=" margin-bottom:10px;" alt/>
        <a class="btn col-6 btn-lg btn-block" type="submit" (click)="refresh()"
        style="background-color: #fd5602; color:white; margin-right:auto; margin-left: auto;">Back to Home</a>
    </div>
</div>
