label{
    height: 50px;
    text-align: center;
    margin-right: 2px;
}
#inputGroupSelect01{
    height: 50px;
    font-size: x-large;
    color:#FE6E00;
}
h3{
    margin-right: 15px;
    color:#FE6E00;
    font-family: 'Quicksand', sans-serif;
}
.container{
    font-family: 'Quicksand', sans-serif;
}
option{
    color:#3a3d3b;
}