<div></div>
<!-- Filling the dropdown list with category names from the database -->
  <div class="d-flex flex-row container justify-content-start" style="margin-top:100px">
    <!-- <label class="input-group-text" for="inputGroupSelect01" style="background-color: white; color:black"><h4 class="text-center">Categories</h4></label> -->
    <select id="inputGroupSelect01" class="custom-select col-lg-2" [(ngModel)]="SelectedCategory">
      <option *ngFor="let cat of CategoryList" [value]="cat.id">{{cat.name}}</option>
    </select>
  </div>


<!-- Calling the menu elements based on the category id -->
<app-menu [InputCategoryID]="SelectedCategory"></app-menu>