body{
    font-family: 'Quicksand', sans-serif;
}

.card-title {
    color: #FE6E00;
}
.card-body{
    display: flex;
    flex-direction: column; 
    justify-content: center;
    
}
img{
    width: 100%;
    height: 300px;
    padding: 0;
}
h2{
    font-weight:bold;
    color:#FD5602;
}
h5{
    color:#FD5602;
}

.shadow{
    margin-bottom: 20px;
    padding:0;
}
.btn-sm{
    background-color: #FFAF42; 
    display: inline;
    color:white; 
    font-size: larger; 
    height: 35px;
}
.stepper{
    font-size: 12px; 
    height: 32px;

    display: inline;
}
img,button:hover{
    cursor: pointer;
}

