<!-- Viewing meals of the selected category as cards -->
<br>
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="shadow rounded card text-center col-3 card-light" style="margin-right:20px;" *ngFor = "let meal of MealsList" >
            
            <img [src]="meal?.image" class="card-img-top" (click)="viewDetails(meal.id)">
            <div class="card-body">
                
                <h2 class="card-title text-center">{{meal?.name}}</h2>
                <h5 class="card-text text-center prices">{{meal?.price}} L.E.</h5>
                <button style="color: #FF8303; text-align:center" type="button" class="btn btn-link" (click)="viewDetails(meal.id)"> More details</button><br>
                <div>
                    <input #itemsCount class=" _column product-qty rounded-pill col-3" type="number" min="1" value="1">
                    <button class="btn addBtn col-4 rounded-pill" (click)="addToCart(meal.image,meal.id,meal.name,meal.price,itemsCount.value)">Add</button>
                </div>
            </div>
        </div>
    </div>
</div>
