.container{
    font-family: 'Quicksand', sans-serif;
}
img {
    width: 50%;
}
a{
    color:#FD5602;
    font-weight: bold;
}
.col-6 a {
    color: #FF8303;
}

.col-6 a:hover {
    color: #000000;
    cursor: pointer;
}

h5 {
    color: #FD5602;
   
}

