<!-- start section (header)-->
    <div class="bg-image align-items-center justify-content-center">
      <h2 class="text-center">Blog Details</h2>
      <!-- <nav class="inner text-center">
        <a class="innerItem" href="">Home</a> &nbsp;
        <span>  <i class="fas fa-arrow-right"></i>  </span> &nbsp;
        <span>Blog Details</span>
      </nav> -->
    </div>
    <!-- section 2 Blog List left& side -->
  <br>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-12 col-sm-12">
         <div class="container-fluid d-flex flex-lg-nowrap flex-column flex-md-nowrap flex-wrap justify-content-center m-4" *ngFor="let post of AllPosts">
              <img [src]="post.image" style="width:80% ;">
              <div class="postDetails p-3">
                <h5 class="postTitle">{{post.title}}</h5>
                <p>{{post.date.toDate()|date:'yyyy/MM/dd h:mm:ss a'}}</p>
                <p>{{post.postBody}}</p>
              </div>
         </div>
          
        </div>
        <!-------------------- right side------------------------------------ -->
        <div class="col-lg-4 col-md-12 col-sm-12">
          <div class="rightSide">
            <img class="mt-4" style=" width: 400px; border-radius: 5%;" src="https://firebasestorage.googleapis.com/v0/b/foodcourt-2f1f1.appspot.com/o/blog%2Fpizza.jpg?alt=media&token=a40a3773-ccd8-4d35-909a-97cb9e8a4966" alt="food">
          </div>
          <div>
            <div class="mt-2"> <h2>Recent Comments</h2></div>
            <div class="container-fluid d-flex flex-lg-nowrap flex-column flex-md-nowrap flex-wrap justify-content-start"  *ngFor="let comment of AllComments"><hr/>
                <!-- <h5 class="commentName">{{comment.name}}</h5> -->
                 <p class="commentBody"><i class="far fa-comments p-2"></i>{{comment.comment}}</p>
                
                <p class="p-2 commentDate">{{comment.date.toDate()|date:'yyyy/MM/dd h:mm:ss a'}}</p>
              
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Reactive Form -->
    <div class="container-fluid d-flex flex-row">
      
        <div class="col-lg-8 col-md-12 col-sm-12">
          <h2 class="form_title">leave A Comment</h2>
          <form class="col-12" (ngSubmit) = "onSubmit()">
               <div class="d-flex flex-wrap flex-lg-nowrap flex-md-nowrap" style="margin-left: 8%;">
                <textarea class="col-12"  placeholder="Add Comment" style="height: 95px; "[(ngModel)]="addComment.comment" name="Comment"></textarea> 
               </div>
               <br>
               <input type="submit"  class="btn btn-primary food_btn " value="submit">  
        </form>

    <!-- <form [formGroup]="loginFrm" (ngSubmit)="onSubmit()">
      <div class="form-group d-flex flex-wrap flex-lg-nowrap flex-column flex-md-nowrap" style="margin-left: 8%;" >
          <label for="Name"></label>
          <input formControlName="Name" type="text"
            class="form-control col-12" name="Name"placeholder="Your Name *" [(ngModel)]="addComment.name" name="Name"
            required autocomplete="off"> 
            <div *ngIf="Name?.invalid && (Name?.dirty||Name?.touched) " class="alert alert-danger">
              <div *ngIf="Name?.errors?.minlength">
                  Name must be at least 3 characters long
              </div>
            </div>
            <label for="Email"></label>
          <input formControlName="Email" type="text"
            class="form-control col-12" name="email"  placeholder=" Your Email*"   required autocomplete="off"> 
            <div *ngIf="Email?.invalid && (Email?.dirty||Email?.touched) " class="alert alert-danger">
              <div *ngIf="Email?.errors?.email">
                 Write valid e-mail(ex:bad@)
              </div>
            </div>
        </div>
           <div class="form-group d-flex flex-wrap flex-lg-nowrap flex-md-nowrap" style="margin-left: 8%;">
            <textarea class="col-12"  placeholder="Comment" style="height: 95px; "[(ngModel)]="addComment.comment" name="Comment"></textarea> <br>
           </div>
           <input type="submit" [disabled]="!loginFrm.valid" class="btn btn-primary food_btn " value="submit">  
  </form> -->
 </div>
  <img class="col-lg-4 img-fluid" style="height:300px; padding:15px; border-radius: 10%;" src="https://firebasestorage.googleapis.com/v0/b/foodcourt-2f1f1.appspot.com/o/blog%2Fworkplace-1245776_1920.jpg?alt=media&token=63825c47-4e51-407a-95bf-782aa40940ca" alt="food">   
</div>
    

  
    

  
   
