<!-- start section -->
    <div class="bg-image">
      <div class="container ">
        <div class="row">
          <div class="col-12">
            <div class="text-center">
              <h2>Blog Details</h2>
              <nav class="inner">
                <a class="innerItem" href="">Home</a>
                &nbsp;
                <span>
                  <i class="fas fa-arrow-right"></i>
                </span>
                &nbsp;
                <span>Blog Details</span>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- section 2 Blog List left side -->
  <br>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-12 col-sm-12">
          <div class="m1">
            <img class="leftimg img-fluid" src="https://firebasestorage.googleapis.com/v0/b/foodcourt-2f1f1.appspot.com/o/blog%2F2.jpg?alt=media&token=f02b6bb9-46d3-4314-b93e-09b8b87014b3" alt="food">
          </div>
          <br>
          <div>
            <ul class="leftList">
              <li><i class="fas fa-user"></i> &nbsp; Posted By: <a href="" style="text-decoration: none;">Admin</a></li>
              <li style="margin-left: 5%;"><i class="fas fa-calendar-week"></i> &nbsp; February 13, 2018
              </li>

              <li style="margin-left: 37%;"><a href="" style="text-decoration: none;"><i class="far fa-comment"></i>
                  05</a></li>&nbsp;
              <li><a href="" style="text-decoration: none;"><i class="far fa-heart"></i> 07</a></li>

            </ul>

          </div>
          <hr>
          <div>
            <span>Category : Pasta</span>
            <h2>standard blog post format for Design.</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
              labor dolore magna aliqua.
              </p>
            <uL class="leftList">
              <li style="display: inline;"><img src="https://firebasestorage.googleapis.com/v0/b/foodcourt-2f1f1.appspot.com/o/blog%2F4.jpg?alt=media&token=822fbe34-7ea9-4ec1-ad51-784c02bd08b2"></li>
              <li style="display: inline;"><img src="https://firebasestorage.googleapis.com/v0/b/foodcourt-2f1f1.appspot.com/o/blog%2F4.jpg?alt=media&token=822fbe34-7ea9-4ec1-ad51-784c02bd08b2"></li>
            </uL>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
            <br>
            “quis nostrud exercitation ullamco laboris nisi ut aliqui ”
  
           
          </div><br>
          
          <div>
            <h2>Comment’s</h2>
          </div>
          <div class="container-fluid d-flex flex-lg-nowrap flex-md-nowrap flex-wrap justify-content-start">
            <img src="https://firebasestorage.googleapis.com/v0/b/foodcourt-2f1f1.appspot.com/o/blog%2Fp2.jpg?alt=media&token=e25c0d68-8854-44b8-b1ac-36ed72f99d96" style="height:20%; width: 20%;">
            <div class=" row cmment__date d-flex flex-column col-lg-5" style="padding-bottom: 3px; margin: 5px;">
              <h5>Robart Hanson</h5>
              <p>February 13, 2018</p>
              <p>
              </p>
            </div>
          </div>
          <br>
        </div>
        <!-------------------- right side------------------------------------ -->
        <div class="col-lg-4 col-md-12 col-sm-12">
          <div class="rightSide">
            <br>
            <img class="rightimg" src="https://firebasestorage.googleapis.com/v0/b/foodcourt-2f1f1.appspot.com/o/blog%2F3.jpg?alt=media&token=81b38940-f0cd-4442-80a9-67be990d2553" alt="food">
          </div>
          <div>
            <p style="line-height: 24px; margin-top: 10%;">
              "On the other hand, dislike men who are so beguiled
              and demoralized by the charms of pleasure of the moment."
            </p>
            <h2 style=" font-size: medium;">Robart Rofiq Bali</h2>
            <h6 style=" font-size: medium;">UI UX Designer</h6>
            <ul class="social">
              <li style="display: inline;"><i class="fab fa-facebook-f"></i></li>
              <li style="display: inline;"><i class="fab fa-twitter"></i></li>
              <li style="display: inline;"><i class="fab fa-instagram"></i></li>
            </ul>
          </div>

          <div class="search">
            <h4>Search</h4>
          </div>
          <div class="search" style="position: relative;">
            <input type="text" placeholder="Search keyword" style="width: 70%;">
            <a href="" style="position: absolute; top:13px;right:32%"><i class="fas fa-search"></i></a>
          </div>
          <br>
          <!-- posts--------------------------------------- -->
          <div>
            <h2 style="margin-left: 20px;">Recent Posts</h2>
          </div>
          <div class="container-fluid d-flex flex-lg-nowrap flex-md-nowrap flex-wrap justify-content-start">

            <img src="https://firebasestorage.googleapis.com/v0/b/foodcourt-2f1f1.appspot.com/o/blog%2Fp1.jfif?alt=media&token=5f253a41-dbfc-48e0-a17d-acfc64acc672" class="col-lg-3 img-thumbnail"
              style="width: 30%;">


            <div class=" row cmment__date d-flex col-lg-8" style="padding-bottom: 3px; margin: 5px;">

              <p>February 13, 2018</p>
              <p>Diffrent title gose here. This is demo title.</p>

            </div>
          </div>
          <br>
         
        </div>

      </div>
    </div>
    <!-- Reactive Form -->
    <div class="container-fluid col-lg-11 ">
      <h2 class="form_title">leave A Comment</h2>
    <form [formGroup]="loginFrm" >
      <div class="form-group d-flex flex-wrap flex-lg-nowrap flex-md-nowrap" >
          <label for="fName"></label>
          <input formControlName="fName" type="text"
            class="form-control col-4" name="fname" min="3" placeholder="First name *" required autocomplete="off">
            &nbsp;&nbsp;&nbsp;&nbsp;
            <label for="lName"></label>
            <input formControlName="lName" type="text"
              class="form-control col-4" name="lname" min="3" placeholder="Last name *" required autocomplete="off">
        </div>


        <div class="form-group d-flex flex-wrap flex-lg-nowrap flex-md-nowrap">
          <label for="Email"></label>
          <input formControlName="Email" type="text"
            class="form-control col-4" name="email" min="3" placeholder="Email*" required autocomplete="off">
            &nbsp;&nbsp;&nbsp;&nbsp;
            <label for="Phone"></label>
            <input formControlName="Phone" type="text"
              class="form-control col-4" name="phone" min="3" placeholder="Phone*" required autocomplete="off">
        </div>

        <textarea class="col-9" name="message" placeholder="Your Message" style="height: 95px;"></textarea>
        <br>
        <input type="submit"  class="btn btn-primary food_btn" value="submit">
       
  </form>
  </div>

  
    

  
   
